

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.logo-main { 
    display: grid;
    justify-items: center;
}

ul { 
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.no-content {
    color: #666666;
    font-size: 14px;
    line-height: 17px;
}
.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.app-wrapper { 
    margin-left: 15px;
    display: grid;
    justify-content: center;
}

.post-topic { 
    margin: 0 4px 20px;
}
@import "./mixins.scss";
@import "./home.scss";
@import "./search-bar.scss";
@import "./recent-posts";
@import "./results.scss";